@model AdminViewModel
@{
    ViewBag.Title = "All Products";
    Layout = "_AdminLayout";
}

@if (Model.Fruits.Count() == 0)
{

    <div class="text-center m-2">
        <form asp-action="SeedDatabase" method="post">
            <button type="submit" class="btn btn-danger">Seed Database</button>
        </form>
    </div>

}


Hello @Model.User.UserName
@if (@Model.User.Fruit != null)
{
    <p>You previously voted for @Model.User.Fruit.Name</p>
    <p>Change your selection below:</p>
}
else
{
    <p>Please vote on a fruit</p>


}

<form asp-action="Add" method="post">


    <select name="ProductID">
        @foreach (var item in Model.Fruits)
        {
            <option value="@item.FruitID">@item.Name</option>

        }

    </select>

    <button type="submit" class="btn btn-danger btn-sm">
        Submit
    </button>
</form>



